Heuristica/.idea
Heuristica/.ycm_extra_conf.py
Heuristica/CMakeLists.txt
Heuristica/cmake-build-debug/
Heuristica/distances (copy).csv
Heuristica/distances3 (copy).csv
Heuristica/distances3.csv
Heuristica/heuristic
Heuristica/heuristica
Heuristica/test_file
TP3_documentation
rubrica-tp-entrega_2.xls
TP2.aux
TP2.log
TP2.toc
